*.pyc
*.pyo
*.o
*.a
*.pickle
Makefile
Makefile.pre
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Modules/ld_so_aix
Parser/pgen
Parser/pgen.stamp
build/
config.log
config.status
platform
pyconfig.h
python
python-gdb.py
typescript
